alias ll='eza -al'
alias la='ls -A'
alias l='ls -CF'

alias lg='lazygit'
alias ld='lazydocker'
alias k='kubectl'

alias cat='bat'
alias top='btop' 

# dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

